<div class="modal fade scan-modal" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header scan-modal__header">
        <h5 class="modal-title text-center" id="formModalLabel"><%= Spree.t(:scan_form) %></h5>
      </div>
      <div class="modal-body">
        <%= Spree.t(:scan_form_stock_location) %> <br />
        <%= select_tag 'stockLocation', options_from_collection_for_select(Spree::StockLocation.all, "id", "admin_name"), { class: 'form-control' } %>
      </div>
      <div class="modal-footer">
        <%= link_to Spree.t(:create_scan_form), 'javascript:;', class: 'pull-right btn btn-primary', id: 'submitScanForm' %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>