<%= form_tag generate_return_label_api_v1_order_return_authorization_path(@order, @return_authorization), url:  generate_return_label_api_v1_order_return_authorization_path(@order, @return_authorization), method: :post, id: 'return-label-button' do |label_form| %>
  <%= hidden_field_tag :token, spree_current_user.spree_api_key %>
  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= submit_tag Spree.t(:generate_new_label) %>
  </div>
  <br />
<% end %>
